.wrapper {
    width: 100%;
    height: 30000px;
    overflow-x: hidden;

    .bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #132F57;
    }
    .title {
        color: rgba(255, 255, 255, 0.5);
    }
}